.user-info-dialog {
  min-width: 350px;
}

mat-dialog-content {
  padding: 16px 0;
}

mat-list-item {
  height: 64px;
}

mat-divider {
  margin: 8px 0;
}

mat-dialog-actions {
  padding: 16px 0;
  margin: 0;
}